services:
  mongo:
    image: mongo:6
    container_name: bookmark-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    image: chamodibandara/bookmark-backend:latest
    container_name: bookmark-backend
    restart: always
    env_file:
      - backend.env
    depends_on:
      - mongo
    ports:
      - "5000:5000"

  frontend:
    image: chamodibandara/bookmark-frontend:latest
    container_name: bookmark-frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "5173:5173"

volumes:
  mongo_data:
