services:
  mongo:
    image: mongo
    restart: always
    ports:
      - "27018:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - bookmark-net  

  backend:
    build: ./backend
    container_name: bookmark-backend
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
    networks:
      - bookmark-net  

  frontend:
    build: ./frontend
    container_name: bookmark-frontend
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend
    volumes:
      - ./frontend:/usr/src/app
      - /usr/src/app/node_modules
    networks:
      - bookmark-net  

volumes:
  mongo-data: 

networks:
  bookmark-net:   
